<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Listes des ingrédients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="presentModal()">Ajouter un ingrédient</ion-button>
  <ion-list *ngIf="ingredients">
    <ion-item *ngFor="let item of ingredients">
      <ion-button fill="none" (click)="presentModal(item)">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      {{item.nom}}
      <ion-button slot="end" fill="none" (click)="deleteIngredient(item.id)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>