<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pizza"> {{pizza.nom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pizza">
  <h3>{{pizza.prix}} euros</h3>
  <div class="detailPizza">
    <img class="imgSize" src={{pizza.photo}}>
    <ion-list>
      <h3> Ingrédients</h3>
      <ion-item *ngFor="let item of pizzaIngredient">
        {{item.nom}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>